<!-- fb share code -->
<div id="fb-root"></div>
<script>
	( function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk')); 
</script>
<div class="page-header">
	<h3>#<%= @content.number %>, <%= raw @content.title %></h3>
</div>
<!-- header links -->
<div class="pull-right" id "sidebar">
	<p class="text-right">
		<a href="/">HOME</a>
		<br \>
		<a href="/about">ABOUT</a>
		<br \>
		<a href="/list-of-interviews">INTERVIEW INDEX</a>
		<br \>
		<a href="/apply">TELL YOUR STORY!</a>
	</p>
</div>
<!-- body -->
<div class="row-fluid">
	<div class="span6 offset3">
		<p class="lead">
			<%= raw @content.description%>
		</p>
		<div>
			<%= raw @content.body %>
		</div>
		<!-- social media -->
		<div class="text-center">
			<hr \>
			<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
			<script>
				! function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (!d.getElementById(id)) {
						js = d.createElement(s);
						js.id = id;
						js.src = "//platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js, fjs);
					}
				}(document, "script", "twitter-wjs");
			</script>
			<div class="fb-like" data-send="false" data-width="450" data-show-faces="false"></div>
		</div>
	</div>
</div>
<br \>
<br \>
<br \>
<br \>

