<div class="page-header">
	<h3>About</h3>
</div>
<!-- header links -->
<div class="pull-right">
	<p class="text-right">
		<a href="/">HOME</a>
		<br \>
		<a href="/about">ABOUT</a>
		<br \>
		<a href="/list-of-interviews">INTERVIEW INDEX</a>
		<br \>
		<a href="/apply">GET INTERVIEWED!</a>
	</p>
</div>
<!-- body -->
<div class="row-fluid">
	<div class="span6 offset3">
		<p class="lead">
			Young &amp; Working is an oral history project that focuses on the stories of workers under 35 years old.
		</p>
		<p>
			In 1974, Studs Terkel published <i>Working: People Talk About What They Do All Day and How They Feel About What They Do</i>,
			a collection of oral histories of Americans on the job.  Since the book's publication, the U.S. working world has changed
			dramatically.  Manufacturing jobs now make up a much smaller share of the employment market, while service industry jobs have
			become more and more numerous.  Unpaid internships, freelance, and part-time work have replaced entry-level positions in many 
			white-collar fields.  The career-long, sustainably-paid job is more or less extinct.
		</p>
		<p>
			Not only do young workers today face a different job landscape than previous generations, they face a challenging economic
			climate.  Wages are stagnant, and under- and un-employment are common. Blue-collar jobs have been <a href="http://www.nytimes.com/2008/01/16/us/16ohio.html?pagewanted=all&_r=0"> disappearing for years</a>. Though a college degree is all but necessary to secure
			a white-collar position, undergraduate education no longer has any real weight in the job market.  Meanwhile, the cost of attending college has
			<a href="http://www.bloomberg.com/news/2012-08-15/cost-of-college-degree-in-u-s-soars-12-fold-chart-of-the-day.html">increased 1,120&#37; since
			1978.</a>
		</p>
		<p>
			Young &amp; Working is interested in the experiences of young workers.  We'd like to hear from you if you're younger than 35 and
			working a job (we count things like independent projects and parenthood!).  We're seeking diverse contributors from all backgrounds,
			and we particularly welcome the voices of contingent workers, queer workers, undocumented workers, and workers of color.
		</p>
		<p>
			If you'd like to add your story to our collection, please <a href="/apply">get in touch</a>.  We also love <a href="mailto:youngandworking@gmail.com"> email</a>.
		</p>
	</div>
</div>
