<div class="page-header">
	<h3>Interviews</h3>
</div>
<!-- header links -->
<div class="pull-right" id "sidebar">
	<p class="text-right">
		<a href="/">HOME</a>
		<br \>
		<a href="/about">ABOUT</a>
		<br \>
		<a href="/list-of-interviews">INTERVIEW INDEX</a>
		<br \>
		<a href="/apply">TELL YOUR STORY!</a>
	</p>
</div>
<!-- body -->
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<% @contents.each do |content| %>
			<p>
				<a href="/contents/<%= content.id %>"><%= raw content.title  %></a> (<%= content.created_at.strftime('%B %e, %Y') %>)
			</p>

			<% end %>
		</div>
	</div>
</div>
