<% unless flash.blank? %>
<% flash.each do |key, value| %>
<div class="row-fluid">
	<div class="span6 offset3">
		<div class="<%= flash_class(key) %> fade in">
			<a href="#" data-dismiss="alert" class="close">×</a>
			<%= value %>
		</div>
	</div>
</div>
<% end %>
<% end %>